@charset "UTF-8";
.body_bg {
  background-color: #222D32;
}
html,
body {
  height: 100%;
  height: 100%;
  
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.red {
  color: #A94442;
}
.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}
.mt_150 {
  margin-top: 150px;
}
.mb_20 {
  margin-bottom: 20px;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

/*左侧菜单栏开始*/
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top:0;
  left: 0;
  z-index: 999;
  transition: all 1s;
}
.lt_aside .brand {
  background-color: #367FA9;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;

}
.lt_aside .brand a {
  color: #fff;
  display: block;

}
.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.lt_aside .user p{
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.lt_aside .nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;

}
.lt_aside .nav i {
  margin-right: 5px;
}
.lt_aside .nav .child a{
  padding-left: 60px;
}
.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
/*滑动类*/
.lt_aside.hidemenu {
  left:-180px;
}

/*左侧菜单栏结束*/


/*右侧内容开始*/
.lt_main{
  width: 100%;
  padding-left: 180px;
  padding-top:50px;
  transition: all 1s;


}
.lt_main.hidemenu {
  padding-left: 0;
}

.lt_main .topbar{
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #3C8DBC;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 180px;
  transition: all 1s;


}
.topbar.hidemenu {
  padding-left: 0;
}
.lt_main .topbar a {
  width: 50px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

.breadcrumb {
  margin-top: 20px;
}

.main_body .echars_1,
.main_body .echars_2{
  width: 48%;
  height: 400px;
}
/*右侧内容结束*/
